{%  extends 'base.html' %}

{% block content %}

<style type="text/css">
  .user_collections {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .user_collections {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .h3{
    text-align: center;
  }

  .card{
    width: 25%;
    padding: 5px;
  }
  .card-body{
    padding: 2px;
    line-height: 18px;
  }
  .card-title{
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  .card-text{
    font-size: 15px;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  }
  .center {
    text-align: center;
    margin-top: 25px;
  }
  .pagination {
    display: inline-block;
  }

  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }

  .pagination a.active {
    background-color: #0099ff;
    color: white;
  }

  .pagination a:hover:not(.active) {background-color: #ddd;}
</style>

<div id="main_area" class="text-center">
  <h3>{{collectionUserName}}'s {{collectionName}}</h3>
</div>
{% if uid == UID_id %}
  <h2 class="h3 mb-3 font-weight-normal">Add a Book to Collection</h2>
  <form class="user_collections" method="post">{% csrf_token %}
    {% for field in addBookISBNForm %}
      <p>
        {{field.label_tag}}
        {{field}}

        {% if field.help_text %}
          <small style="color: grey;">{{field.help_text}}</small>
        {% endif %}

        {% for error in field.errors %}
          <p style="color: red;">{{error}}</p>
        {% endfor %}
      </p>

    {% endfor %}

    <p style="color: red;">
      {{add_book_ack}}
    </p>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
</form>
{% endif %}

<div class="container text-center">
  <select name="select" id="number_select" >
    <option value=0 name="none">show recent</option>
    <option value=5 name="five">5</option>
    <option value=10 name="ten">10</option>
    <option value=15 name="fifteen">15</option>
  </select>
  <div class="row" id="cards">
    {% for book in books_list %}
      <div class="card">
        {% if 'http' in book.cover.url %}
          <img src="{{ book.cover }}">
        {% else %}
          <img src="{{ book.cover.url }}">
        {% endif %}

        <div class="card-body">
          <h3 class="card-title"><a href="{% url 'book' isbn=book.ISBN %}">{{book.title}}</a></h3>
          <p class="card-text">Author: {{ book.authors }}</p>
          <p class="card-text">Publisher: {{ book.publisher }}</p>
          <p class="card-text">Language: {{ book.language }}</p>
          <p class="card-text">Country: {{ book.country }}</p>
          <p class="card-text">ISBN: {{ book.ISBN }}</p>
          <p class="card-text">Publication Date: {{ book.publication_date }}</p>
          <p class="card-text">Genre: {{ book.genres }}</p>  
        </div>
      
        {% if uid == UID_id %}
          <a class="btn btn-danger btn-block" href="{% url 'collection_delete_book' collection_id=collection_id book_id=book.ISBN %}">Delete</a>
          {% if hide %}
            <a class="btn btn-info btn-block" href="{% url 'record_books_read' book_id=book.ISBN %}">Read</a>
          {% endif %}
        {% endif %}
      </div>
    {% endfor %}
  </div>

  <div class="center">
    {% if books_list.has_other_pages %}
      <div class="pagination">
        {% if books_list.has_previous %}
          <a href="?page=1">First Page</a>
          <a href="?page={{ books_list.previous_page_number }}">&laquo;</a>
        {% else %}
          <a class="disable">&laquo;</a>
        {% endif %}
        
        {% for i in page_range %}
          {% if books_list.number == i %}
            <a class="active">{{ i }}</a>
          {% else %}
            <a href="?page={{ i }}">{{ i }}</a>
          {% endif %}
        {% endfor %}
        
        {% if books_list.has_next %}
          <a href="?page={{ books_list.next_page_number }}">&raquo;</a>
          <a href="?page={{ max_index }}">Last Page</a>
        {% else %}
          <a class="disable">&raquo;</a>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>

<script type="text/javascript">
  $('#number_select').change(function(event){
    event.preventDefault();
    var books_list_id = "{{ books_list_id }}";
    var collection_id = "{{ collection_id }}";
    var uid = "{{ uid }}";
    var UID_id = "{{ UID_id }}";
    $.ajax({
      type: 'GET',
      url: "{% url 'showRecent'%}",
      data: {
        num: $('#number_select').val(),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        books_list_id: books_list_id,
        collection_id: collection_id
      },
      success: function(data){
        $('#cards').empty();
        if (data.length==0){
          $('#cards').append('<h3>No book</h3>')
        }
        for(i=0;i<data.length;i++){
          $('#cards').append('<div class="card">'+
                '<img src='+ data[i].cover +'>'+
                '<div class="card-body" id="'+ i +'"">'+
                    '<h3 class="card-title"><a href="/book/'+data[i].ISBN+'">'+data[i].title+'</a></h3>'+
                    '<p class="card-text">Author: '+data[i].authors+ '</p>'+
                    '<p class="card-text">Publisher: '+data[i].publisher +'</p>'+
                    '<p class="card-text">Language:'+data[i].language +'</p>'+
                    '<p class="card-text">Country:' +data[i].country+'</p>'+
                    '<p class="card-text">ISBN: ' +data[i].ISBN +'</p>'+
                    '<p class="card-text">Publication Date: '+data[i].publication_date+'</p>'+
                    '<p class="card-text">Genre: ' +data[i].genres+' </p>'+
                '</div>')

          if (uid==UID_id){
            $('#'+i).append('<a style="bottom:0" class="btn btn-danger btn-block" href="/collection_delete_book/'+collection_id+'/'+data[i].ISBN+'">Delete</a>')
          }
          $('#cards').append('</div>')

        }
      }

    })
  });
</script>

{% endblock content %}